/* layouts.header*/
.pdca_cycle {
    color: #FF7373;
}
.pdca_cycle:hover {
    color: #FF4141;
}
/*goals.index*/
.navigate {
    color: #FF7373;
}

/*modals*/
.modal_true {
    color: #4E8AFF;
    text-decoration: none;
}
.modal_false {
    color: #FF7373;
    text-decoration: none;
}
.modal_true:hover {
    color: #A5C3FF;
}
.modal_false:hover {
    color: #FFC0C0;
}
.modal-footer > a {
    font-size: 20px;
}

/* pdcas.index */
#cycle-part {
    width: 400px;
    height: 400px;
}
#cycle {
    width: 600px;
    height: 600px;
}

#text-act {
    left: 50%;
    top: 50%;
}

