* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%; /*16px*/
}

/*goals.index*/
.mainred {
    color: #FF7373;
}
.mainred-a {
    color: #FF7373;
}
.mainred-a:hover {
    color: #FF7373;
    opacity: 0.5;
    transition: all 0.2s;
}

.mainblue {
    color: #4E8AFF;
}

.mainblue:hover {
    color: #4E8AFF;
    opacity: 0.5;
    transition: all 0.2s;
}

/*modals*/
.modal-footer > a {
    font-size: 20px;
}

