/* layouts.header*/
.pdca_cycle {
    color: #FF7373;
}
.pdca_cycle:hover {
    color: #FF4141;
}
/*goals.index*/
.navigate {
    color: #FF7373;
}

/*modals*/
.modal_true {
    color: #4E8AFF;
    text-decoration: none;
}
.modal_false {
    color: #FF7373;
    text-decoration: none;
}
.modal_true:hover {
    color: #A5C3FF;
}
.modal_false:hover {
    color: #FFC0C0;
}
.modal-footer > a {
    font-size: 20px;
}

/* pdcas.index */
.wrapper {
    width: 800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-sizing: border-box;
  }
  
  .box {
    flex-basis: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    font-size: 24px;
  }
